body {
  margin: 0px;
  padding: 0px;
  background-image: url("./assets/background_image.webp");
  background-position: initial;
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  line-height: 59px;
  padding: 0;
  margin: 0;
  font-weight: 900;
  color: #6b100e;
  /* text-shadow: 0 0 0px #fff, 0 0 50px #6b100e; */
}
.main-container {
  text-align: center;
  /* border: 5px solid; */
  margin: auto;
  width: 50%;
  padding: 10px;
}
.stopwatch-container {
  border-radius: 50%;
  height: 200px;
  /* width: 200px; */
  position: relative;
  width: 80%;
  background: #ffffff;
  left: 11%;
  padding: 175px 0;
  font-family: "Roboto mono", monospace;
  color: #0381bb;
  color: #F9D178;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 20px #4a090b;
  margin-top: 3%;
}

.stopwatch-display {
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  font-size: 48px;
}

.buttons-container {
  width: 90%;
  margin: 30px auto 0 45px;
  display: flex;
  justify-content: space-around;
}

.buttons-container button {
  width: 120px;
  height: 45px;
  background-color: #205e94;
  color: #ffffff;
  border: none;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

#stop-button{
  background-color: #d23332;
}

#reset-button{
  background-color: #20b380;
}

#start-button:disabled{
  background-color: darkgray;
  cursor: not-allowed;
}

